<h3>Contacts</h3>
@await Component.InvokeAsync("AppAddress")
<br />
@await Component.InvokeAsync("AppEmail")
<br />
@await Component.InvokeAsync("AppPhone")
<br />
@await Component.InvokeAsync("AppPhoneSecond")